<!DOCTYPE html>
<html lang="pt-br">
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/navbar.ejs') %>

<div class="container">
  <h1>Pagina Principal</h1>
  <div class="card-deck">
  <% perguntas.forEach(pergunta => { %>  
    <div class="col-3 m-3" >
      <div class="card" style="width: 18rem; height: 12rem;" >
        <div class="card-body">
          <div class="text-muted">
            <p><small> ID Pergunta: <%= pergunta.id %></small></p>
          </div>
          <div>
            <h5><%= pergunta.title %> </h5>
          </div>
      </div>
      <div class="card-footer text-right bg-transparent p-2 border-0">
        <a href="<%= pergunta.id %>/resposta" class="btn btn-success">Responder</a>
      </div>
      </div> 
    </div>

  <% }); %>
</div>  
</div>
  
<%- include('./partials/footer.ejs') %>
</body>
</html>
